[Unit]
Description=Synchronize TMPBase domains every 15 seconds

[Timer]
OnBootSec=20
OnUnitActiveSec=15
AccuracySec=1
Unit=project-domains-sync.service

[Install]
WantedBy=timers.target
